td, th {
	border: 0px;
  padding: .4em .5em;
}

table {
  width: 90%;
  margin: 0 auto;
}

h1, h3, td, th {
  font-family: monospace, serif;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 2.8em;
}

td.left-align, th.left-align {
  text-align: left; /* Left-align specific rows or columns */
}


h3 {
  margin: 0 auto;
}

td {
  padding-left: .5em;
} 
 
em.italic {
  font-style: italic;
}

.sup {
  position: relative;
  font-size: 80%;
}

strong {
  font-weight: 700;
  font-size: 1em;
}

#page-wrapper {
  background-image: url("../images/galaxy.jpg");
  background-size: 100%;
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

tr.main:hover {
  background-color: blue;
}

div#center {
  text-align: center;
}

tr#main {
  display: inline-block;
  text-align: left;
}